img {
    width: 94%;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
}

h3 {
    text-align: center;
}

.projects {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

img:hover {
    box-shadow: 3px 3px 3px #000;
}