#guessArray {
    margin: 10px auto;
}

.guessButtons, #guessInput{
   -webkit-appearance: none;
   background-color: rgba(224, 214, 214, 0.4);
   width: 25%;
   margin: 2px auto;
   border-radius: 10px;
   border: 1px solid #000;
   color: #000;
}

#winningMessage, #losingMessage{
    margin: 5px auto;
}

button:active {
    box-shadow: 1px 1px 1px;
}

@media screen and (max-width: 1060px) {
    .guessButtons, #guessInput {
        width: 80%;
    }
}