#guessArray {
    margin: 10px auto;
}

.guessButtons, #guessInput{
   background-color: rgba(224, 214, 214, 0.4);
   width: 25%;
   margin: 2px auto;
   border-radius: 10px;
   border: 1px solid #000;
   
}

button:active {
    box-shadow: 1px 1px 1px;
}